body {
    background-color: #000000;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.white-text {
    color: #fff;
}

.bg-dark {
    background-color: #000 !important;
}

.navbar-collapse {
    width: 80%;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: larger;
}

.navbar{
    background-color: rgba( 0, 0, 0, 0.7);
}

.container-fluid {
    padding: 0px;
 }

.navbar-brand {
    padding-left: 3%;
}


#seccion-publicidad i{
    color: #000;
    font-size: 4.5rem;
}

#seccion-publicidad p{
    color: #000;
    font-weight: 500;
}

#seccion-publicidad h2{
    color: #000;
    
}
#seccion-publicidad a{
    text-decoration: none;
}

.page-footer i {
    color: #fff;
    font-size: larger;
    font-style: normal;
    padding-right: 2%;
}

.bg-white{
    background-color: #fff !important;
}

.page-footer h5 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.logo-footer {
    margin-top: 70%;
}

footer{
    border: 0px !important;
    background-color: #101010;
}

#flickr{
    width: 20px;
    height: auto;
}

.list-unstyled li a {
    text-decoration: none;
}

.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
    }

.video-background{
        position: relative!important;
        width: 100%!important;
        min-height: 100vh!important;
    }

.caption{
    position: absolute;
    top: 31%;
    width: 100%;
}

.caption h2{
    font-size: 2.5rem;
    font-weight: 700%;
    letter-spacing: 0.1rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 0rem;
    color: rgba( 255, 255, 255, 0.85);
}

.caption h4{
    font-size: 1.5rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
    color: rgba( 255, 255, 255, 0.85);
}

.caption .btn-lg{
    border-width: medium;
    border-radius: 0%;
    font-size: 1.1rem;
    padding: 0.6rem 1.3rem ;
    margin-top: 2rem;
}

#boton-marcas{
    border-width: medium;
    border-radius: 0%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.6rem 1.3rem ;
}

.container-fluid .container p{
    margin-top: 2%;
}
.container-fluid .container h1{
    padding-top: 1%;
}
.container-fluid .container .btn-lg{
    border-width: medium;
    border-radius: 0%;
    font-size: 1.1rem;
    padding: 0.3rem 0.7rem ;
    margin-bottom: 2%;
}

#applegate{
    height: 10rem;
    width: auto;
}

#fuelflex{
    margin-top: 12%;
    height: 5rem;
    width: auto;
}

#qualmex{
    height: 5rem;
    width: auto;
    margin-top: 11%;
}

#cisco{
    height: 8rem;
    width: auto;
    margin-left: 15%;
}
    
    /*--- Fixed Video Background iOS/Mobile Style--*/

    .video-wrap {
      clip: rect(0, auto, auto, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
#video {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      will-change: transform;
      z-index: -1000;
    }
#video-reel { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }


    .contenedor{
        display:table;
        width:auto;
        position:relative;
        width:100%;
    }
    .playpause {
        width:20%;
        height:20%;
        position:absolute;
        left:9%;
        right:0%;
        top:0%;
        bottom:15%;
        margin:auto;
    }
    .playpause i{
        width: 100%;
        height: auto;
        font-size: 10rem;
        position:absolute;
        left:0%;
        right:0%;
        top:0%;
        bottom:0%;
    }

    .contenedor2{
        display:table;
        width:auto;
        position:relative;
        width:100%;
    }
    .playpause2 {
        width:20%;
        height:20%;
        position:absolute;
        left:9%;
        right:0%;
        top:0%;
        bottom:15%;
        margin:auto;
    }
    .playpause2 i{
        width: 100%;
        height: auto;
        font-size: 10rem;
        position:absolute;
        left:0%;
        right:0%;
        top:0%;
        bottom:0%;
    }

    .contenedor3{
        display:table;
        width:auto;
        position:relative;
        width:100%;
    }
    .playpause3 {
        width:20%;
        height:20%;
        position:absolute;
        left:9%;
        right:0%;
        top:0%;
        bottom:15%;
        margin:auto;
    }
    .playpause3 i{
        width: 100%;
        height: auto;
        font-size: 10rem;
        position:absolute;
        left:0%;
        right:0%;
        top:0%;
        bottom:0%;
    }

    #carouselExampleIndicators{
        background: #fff;
        padding: 10px;
    }

    #contenedor-foto{
        position: relative;
    }

    #contenedor-foto h1{
        position: absolute;
        top: 30%;
        left: 30%;
        font-size: 8rem;
        text-shadow: .1rem .1rem .5rem black;
        padding-bottom: 1.6rem;
        color: rgba( 255, 255, 255, 0.85);
    }

    #boton-foto{
        position: absolute;
        top: 50%;
        left: 39%;
        border-width: medium;
        border-radius: 0%;
        font-size: 4rem;
        padding: 0 0.5rem ;
        margin-bottom: 2%;
    }

    #numeros h1{
        font-size: 5rem;
    }

    #numeros .row p{
        font-size: 1.5rem;
    }

    @media (max-width: 768px){
        .caption h2{
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
            padding-bottom: 0.5rem;
        }
        
        .caption h4{
            font-size: 0.85rem;
            padding-bottom: 0.8rem;
        }
        
        .btn-lg{
            font-size: 0.75rem;
            padding: 0.3rem 0.55rem ;
        }
    }